body {
	background-color: black;
	font-family: monospace;
}

#click-to-enter {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	border: 2px solid black;
}

.dc {
	color: black;
	font-size: 0px;
}

body.container .dc {
	color: white;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	background-image: linear-gradient(to right, red, orange, green, blue, indigo);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: move 1000s linear infinite;
}

.website-link {
	color: black;
	font-size: 0px;
}

body.container .website-link {
	color: white;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	background-image: linear-gradient(to right, red, orange, green, blue, indigo);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: move 1000s linear infinite;
}

.sleezy-add {
	color: black;
	font-size: 0px;
}

body.container .sleezy-add {
	color: white;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	background-image: linear-gradient(to right, red, orange, green, blue, indigo);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: move 1000s linear infinite;
}

@keyframes move {
	to {
		background-position: 4500vh;
	}
}
